{% block content %}
<br><br>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<div class="row">
				<div class="col-md-6 text-center">
					<img data-src="holder.js/100px580?text=Portrait Image">
				</div>

				<div class="col-md-6">
					<h3>About Me</h3>
					<br>
					<blockquote>
						<p>“Our cameras are the extensions of our eyes, and the light we choose is the heart of our images.”</p>
					</blockquote>
					<br>
					<p>With my starting salary after graduation I bought my first SLR camera. As I became more and more immersed in photography I started dreaming differently and decided to base decisions and goals on what is possible.</p>
					<p>The most wonderful and mysterious aspect of photography is that every photograph is different. Unexpected, uncontrolled and even magical moments will unfold. With each photograph I try capture and accumulate those sweet realities of love and beautiful details that makes the story your own.</p>
					<p>Me, my husband Riaan, and our golden retriever puppy Olive are based in Gauteng, South Africa. A real story of people past and present, of family and friends, and of honest love inspires me! I am a true romantic and I would love to meet with you over a cup of coffee or even on Skype and be part of your story.</p>

					<br>
					<a class="btn btn-default" href="/contact">Contact me <i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>

			<br><br>
			
			{% include "posts" %}
			
			<br><br>

			<div class="row">
				<div class="text-center">
					<a href="/work/single" class="btn btn-link">More Stories <i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>

		</div>
	</div>

{% endblock %}