{% block content %}
</div>

{% include "carousel" %}

<br><br>

<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<div class="row">
				<div class="col-md-4 text-center">
					<a href="work/weddings">
						<img data-src="holder.js/100px400?text=Image">
						<h4>Weddings</h4>
					</a>
				</div>

				<div class="col-md-4 text-center">
					<a href="work/portraits">
						<img data-src="holder.js/100px400?text=Image">
						<h4>Portraits</h4>
					</a>
				</div>

				<div class="col-md-4 text-center">
					<a href="work/editorial">
						<img data-src="holder.js/100px400?text=Image">
						<h4>Editorial</h4>
					</a>
				</div>

			</div>
		</div>
	</div>

	<br><br>

	<div class="row">
		<br>
		<div class="col-md-offset-1 col-md-10">
			<div class="row">
				<div class="col-md-2 col-md-offset-1">
					<img data-src="holder.js/100px132?text=Image">
				</div>
				<div class="col-md-2">
					<img data-src="holder.js/100px132?text=Image">
				</div>
				<div class="col-md-2">
					<img data-src="holder.js/100px132?text=Image">
				</div>
				<div class="col-md-2">
					<img data-src="holder.js/100px132?text=Image">
				</div>
				<div class="col-md-2">
					<img data-src="holder.js/100px132?text=Image">
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<p>My Instagram images share only a bit about who I am.<br>To get to know me a bit more,<br>
				<a href="about">read more about me <i class="fa fa-long-arrow-right"></i></a></p>
			</div>
		</div>
	</div>

</div>

<div class="container">
{% endblock %}