// Post Item

.post-item{
  padding: 15px; 
  background-color: rgba(255, 255, 255, 1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:hover{
    background-color: rgba(0, 0, 0, 0.15);
  }
}

// Carousel
.carousel{
  .carousel-control{
    .glyphicon{
      display: none;
    }
  }
  &:hover{
    .glyphicon{
      display: inline-block;
    }
  }
}


.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0.5;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0.5;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}