// MIXINS
.letter-spacing(){
	letter-spacing: 0.2em;
}

.absolute-link{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	text-decoration: none;
	z-index: 1000;
}

.btn{
	.btn-default();
	.letter-spacing();
	text-transform: uppercase;
	color: @brand-gold;
	border-color: @brand-gold;
	font-family: @font-family-sans-serif;
	font-weight: 100;
	padding-left: @padding-large-horizontal;
	padding-right: @padding-large-horizontal;
	&:hover{
		border-color: @brand-gold;
		color: @brand-gold;
		background: transparent;
	}
}

.btn-link{
	text-transform: uppercase;
	font-family: @font-family-sans-serif;
	font-weight: 100;
	.letter-spacing();
}


.navbar-default {
	background: #fff;
	margin-bottom: 0;
	padding: 25px 0;
	border: none;
}