.articles_article{
	box-shadow: 0px 0px 0px rgba(87, 87, 87, 0);
	margin-bottom: 15px;
	.clearfix();
	.transition(0.5s);
	
	&:hover{
		background-color: @brand-primary;
		box-shadow: 0px 0px 15px rgba(87, 87, 87, 0.2);
	}
}

.article_image {

	img {
		.img-responsive();
		@media(min-width:@screen-md-min) {
			display: none;
		}
	}

	@media(min-width:@screen-md-min) {
		min-height: 550px;
	}

	.transition(0.5s);
	
	&:hover{
		.opacity(0.85);
	}

	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	a {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;

	}
}

.feature_article{
  position: relative;
  background-size: cover;
  &:before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(87, 87, 87, 0.25);
    position: absolute;
  }
}

.article_content{

	.text-center();
	position: relative;

	.article_content--inner {
		padding: 40px 30px 30px 30px; 	
		@media(min-width:@screen-md-min) {

			padding: 80px 60px 60px 60px; 		

		}	
	}

	
	
	.article_content--quote{
		text-transform: uppercase;
		font-size: @font-size-base;
		font-family: @font-family-serif;
		color: @brand-primary;
		background-color: transparent;
		.transition(0.5s); 
		.articles_article:hover &{
			color: #fff;
		}
		.slide_article &{
			color: #fff;
			.text-shadow();
			.letter-spacing();
		}
		&:after{

		}
	}

	.article_quote--cite {
		display: block;
		font-family: @font-family-base;
		text-transform: none;
		font-weight: 100;
		.letter-spacing();
		.slide_article &{
			color: #fff;
			.text-shadow();
		}
	}

	.article_content--title{
		font-family: @font-family-title;
		color: @brand-secondary;
		.transition(0.5s);
		.articles_article:hover &{
			color: #fff;
		}
		a{
			color: @brand-secondary;
			.slide_article &{
				color: #fff;
			}
			&:hover{
				color: #fff;
			}
		}
		.slide_article &{
			color: #fff;
			margin-bottom: 40px;
			.letter-spacing();
			.text-shadow();

		}
	}
	.article_content--meta{
		font-family: @font-family-base;
		color: @brand-secondary;
		font-style: italic;
		margin-bottom: 40px;
		display: inline-block;
		.letter-spacing();
		.transition(0.5s);
		.articles_article:hover &{
			color: #fff;
		}
		.slide_article &{
			color: #fff;
			.text-shadow();
		}
	}
	.article_content--link{
		position: absolute;
		bottom: 60px;
		left: 0;
		right: 0;
	}
	.article_content--btn{
		.transition(0.5s);
		.articles_article:hover &{
			color: #fff !important;
		}
		.slide_article &{
			.btn-white;
		}
		.articles_article &{
			.btn-link();
		}
	}
}
