.post_entry,
.page_entry{
	p{
		font-style: italic;
	}
}

.page_entry{
	blockquote p{
		text-transform: uppercase;
		font-family: @font-family-serif;
		.letter-spacing();
		color: @brand-primary;
		font-style: normal;
	}
}

.post_entry{

}