.profile{
	.make-sm-column(4);
	.make-sm-column-offset(4);
	.text-center();
	.profile-image{
		border: 5px solid #fff;
		margin-bottom: 40px;
		img{
			.img-circle();
		}
	}
	.profile-description{
		.profile-description--text{
			font-style: italic;
			color: @brand-light;
			margin-bottom: 40px;
		}
	}
}